body {
    background-color: #d8c9bd;
}

.navbar {
    position: fixed;
    width: 80%;
    background-color: #328daa; 
    margin-bottom: 0px;
}

.navbar-brand {
   cursor: pointer;
}

.navbar-brand:hover {
    background: #8ed3f4;
    border-radius: 4px;
}

.nav-item:hover {
    background: #8ed3f4;
    border-radius: 4px;
}

.space {
    height: 50px;
    margin-bottom: 8px;
}

.footer {
    margin-top: 30px;
    margin-bottom: -30px;
    padding: 10px;
    background-color: #328daa;
    color: white;
}

.footer a {
    background: #328daa;
    color: white;
}